html {
    height: 100%;
}
body {
    background: linear-gradient(rgb(4, 4, 96), black);
    margin: 0;
    height: 100%;
    width: 100%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a.active {
    background-color: #ddd;
    color: black;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding: 16px;
    margin-top: 30px;
    display: none;
}

.main:target {
    display: block;
}

/*#home {

}

#osint {

}

#scanning {

}

#sniffing {

}

#proxy {

}

#terminal {

}

#botnet {

}

#settings {

}*/ 